<template lang='pug'>
v-card
  v-responsive(:title='article.tag_list' v-random-gradient :aspect-ratio='6' max-height='10vw')
  //- v-img(:src="article.cover_image || article.social_image" :alt="article.title" :aspect-ratio='2' contain )
  .pa-16.py-10
    h1 {{ article.title }}
    v-row.mt-2(style='margin: 0 -4px')
      v-chip.ma-1.text-uppercase(
        v-for="tag in article.tags.slice(0,3)" :key="tag"
        outlined small style='font-size: .8em'
        nuxt :to="{ name: 'tag-tag', params: { tag } }"
      ) {{ tag }}
    v-divider.my-4
    v-row.mx-0.mr-1(justify='space-between' align='center')
      nuxt-link(:to="{ name: 'username', params: { username } }") {{ article.user.name }}
      small: time.text-uppercase {{ article.readable_publish_date }}
    v-divider.mt-4.mb-6

    vue-markdown(:source='article.body_markdown')
    //- div(v-html='article.body_html')
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'nuxt-property-decorator'
import 'prismjs'

@Component({})
export default class ArticleContent extends Vue {
  @Prop() article!: any

  get username() {
    return this.$route.params.username
  }

  head() {
    return { title: this.article?.title }
  }

  mounted() {
    setTimeout(() => (window as any).Prism.highlightAll(), 100)
  }
}
</script>

<style lang="scss">
@import '~/assets/css/prism-synthwave84.css';
// @import '~/assets/css/prism-a11y-dark.css';
</style>