<template lang='pug'>
v-card.d-flex.flex-column(height='100%' nuxt :to="{ name: 'username-article', params: { username: article.user.username, article: article.id } }")
  v-responsive(:title='article.tags' v-random-gradient :aspect-ratio='2' max-height='40%')
  v-card-title.pb-0 {{ article.title }}
  v-spacer
  v-card-text.py-2
    v-row(style='margin: 0 -4px')
      v-chip.ma-1.text-uppercase(
        v-for="tag in article.tag_list.slice(0,3)" :key="tag"
        outlined small style='font-size: .65em'
        nuxt :to="{ name: 'tag-tag', params: { tag } }"
      ) {{ tag }}
    v-divider.mt-2.mb-1
    .text-right: small: time.text-uppercase {{ article.readable_publish_date }}
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component({})
export default class ArticleCard extends Vue {
  @Prop() article!: any
}
</script>