
$body-font-family: 'Exo 2', Ubuntu, 'Segoe UI', Helvetica, sans-serif
$heading-font-family: Montserrat, Ubuntu, 'Segoe UI', Helvetica, sans-serif

.v-application
    font-family: $body-font-family

h1, h2, h3, h4, h5, h6
    font-family: $heading-font-family

.v-card__title
    word-break: normal !important
    font-size: 20px !important

code, pre
    font-family: 'Operator Mono', Hasklig, Consolas, 'Ubuntu Mono', monospace !important

pre[class*='language-']
    margin: 1.5em -64px !important
    padding: 1.5em 60px !important

p
    font-size: 18px

h2
    margin: .8em 0 .4em

.v-application
    code
        font-weight: normal
