<template lang='pug'>
v-app(dark)
  v-navigation-drawer(v-model="menuVisible" mini-variant fixed app)
    v-list
      v-list-item(v-for="(item, i) in menuItems" :key="i" :to="item.to" router exact)
        v-list-item-action: v-icon {{ item.icon }}
        v-list-item-title {{ item.title }}
  v-main
    nuxt(keep-alive)
</template>

<script lang='ts'>
import { Vue, Component } from 'nuxt-property-decorator'

const ARTICLES_API = 'https://dev.to/api/articles'

@Component({})
export default class Default extends Vue {
  menuVisible = true
  menuItems: any[] = [{ icon: 'mdi-apps', title: 'Index', to: '/' }]
}
</script>
