
<template lang='pug'>
v-container
  v-row(justify='center')
    v-col(cols='12' lg='9' xl='8')
      template(v-if="$fetchState.pending")
        v-skeleton-loader.my-4(type="paragraph" v-for="i in 4" :key="i")
      template(v-else-if="$fetchState.error")
        v-alert.red(dark) {{ $fetchState.error.message }}
      template(v-else)
        article-content(v-bind='{ article }')
</template>

<script lang='ts'>
import { Vue, Component } from 'nuxt-property-decorator'

const ARTICLES_API = 'https://dev.to/api/articles'

@Component({})
export default class ArticlePage extends Vue {
  article: any | null = null

  head() {
    return { title: this.article?.title }
  }

  activated() {
    if (this.$fetchState.timestamp <= Date.now() - 10 * 60 * 1000) {
      this.$fetch()
    }
  }

  async fetch() {
    const url = `${ARTICLES_API}/${this.$route.params.article}`
    const { data: article } = await this.$axios.get(url)

    this.article = article
    if (article.id && article.user.username === this.$route.params.username) {
      this.article = article
    } else {
      throw new Error('Article not found')
    }
  }
}
</script>
