<template lang='pug'>
v-container
  v-row(justify='center' align='stretch')
    template(v-if="$fetchState.pending && !articles.length")
      v-col(cols='12' sm='6' md='4' lg='3' v-for="i in 30" :key="i")
        v-skeleton-loader(type="card")
    template(v-else-if="$fetchState.error")
      v-alert.red(dark) {{ $fetchState.error.message }}
    template(v-else)
      v-col(
        cols='12' sm='6' md='4' lg='3'
        v-for="(article, i) in articles" :key="article.id"
        v-observe-visibility="i === articles.length - 1 ? lazyLoadArticles : false"
      )
        article-card(v-bind='{ article }')

  v-row.my-6(justify='center')
    v-btn(
      v-if='articles.length'
      @click='loadMore'
      :disabled='lastPageLoaded'
      :loading='$fetchState.pending'
    ) Load more
</template>

<script lang='ts'>
import { Vue, Component } from 'nuxt-property-decorator'

const ARTICLES_API = 'https://dev.to/api/articles'

@Component({})
export default class ArticlesByTag extends Vue {
  lastPageLoaded = false
  currentPage = 1
  articles: any[] = []

  get currentTag() {
    return this.$route.params.tag
  }

  head() {
    return { title: this.currentTag }
  }

  async fetch() {
    const { data } = await this.$axios.get(ARTICLES_API, {
      params: { tag: this.currentTag, state: 'rising', page: this.currentPage },
    })
    if (data.length === 0) {
      return (this.lastPageLoaded = true)
    }
    this.articles = [...this.articles, ...data]
  }

  lazyLoadArticles(v: boolean) {
    if (v && this.currentPage < 2) {
      this.loadMore()
    }
  }

  loadMore() {
    if (!this.$fetchState.pending) {
      this.currentPage++
      this.$fetch()
    }
  }
}
</script>
